<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/caught.png') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bgbluegrid">
{% extends 'include/layout.html' %}
{% block content %}
  {% if not inBattle %}
    <div class="big-box">
      <div class="round bgwhite center fcdarkgray dsdarkgray fslarge">
        <h2 class="dslightergray">Select a Trainer to begin battling!</h2>
      </div>
      {% for t in trainers %}
        <form method="POST" action="/battle">
          <input type="hidden" name="trainerID" value="{{ loop.index0 }}">
          <button type="submit" class="pet-button round bgdarkblue center fcwhite dsdarkgray fsmed">
            <p class="dsdarkgray">
              {{ t.name }}
            </p>
          </button>
        </form>
      {% endfor %}
    </div>
  {% else %}
    <div class="big-box isGrid">
      <div class="bat-body-split isGrid">
        <div class="bat-left-split">
          <div class="battle-box dsblue isGrid round bgwhite">
            <div class="your-prof">
              <h2 class="fsmed fcdarkgray dslightergray">Your Profemon</h2>
              <img class="bat-image round" src="{{ url_for('static', filename=player.currentProf.img) }}" alt="Picture of {{ player.currentProf.name }}">
              <div class="isGrid name-type">
                 <p class="fssmall fcdarkgray dslightergray">{{player.currentProf.name}}</p>
                <div class="bat-type type fssmall round dslightergray fcwhite center {{ player.currentProf.type.lower() }}type folblack bddarkgray"> {{ player.currentProf.type }}</div>
              </div>
              <p class="fssmall fcdarkgray dslightergray">HP: {{player.currentProf.hp}}</p>
            </div>
            <div class="opp-prof">
              <img class="bat-image round" src="{{ url_for('static', filename=trainer.currentProf.img) }}" alt="Picture of {{ trainer.currentProf.name }}">
              <h2 class="fsmed fcdarkgray dslightergray">VS. Profemon</h2>
              <div class="isGrid name-type">
                <p class="fssmall fcdarkgray dslightergray">{{trainer.currentProf.name}}</p>
                <div class="bat-type type fssmall round dslightergray fcwhite center {{ trainer.currentProf.type.lower() }}type folblack bddarkgray"> {{ trainer.currentProf.type }}</div>
              </div>
              <p class="fssmall fcdarkgray dslightergray">HP: {{trainer.currentProf.hp}}</p>
            </div>
          </div>
          <div class="your-moves-box dsblue bgwhite round">
            <form class="your-moves isGrid" method="POST" action="/battle">
              <button class="round fssmall bdblack fcwhite folblack move-button dslightergray {{ player.currentProf.move1.type.lower() }}type" name="move" value="move1">{{player.currentProf.move1.name}}<p class="fssmaller">{{player.currentProf.move1.type}}</p></button>
              <button class="round fssmall bdblack fcwhite folblack move-button dslightergray {{ player.currentProf.move2.type.lower() }}type" name="move" value="move2">{{player.currentProf.move2.name}} <p class="fssmaller">{{player.currentProf.move2.type}}</p></button>
              <button class="round fssmall bdblack fcwhite folblack move-button dslightergray {{ player.currentProf.move3.type.lower() }}type" name="move" value="move3">{{player.currentProf.move3.name}} <p class="fssmaller">{{player.currentProf.move3.type}}</p></button>
            </form>
          </div>
        </div>
        <div class="bat-right-split">
          <div class="battle-log dsblue bgwhite round">
            <p class="fsmed fcdarkgray dslightergray">Battle log</p>
            <div class="logs round bdblack" id="logbox">
              {% if logs %}
              {% for log in logs %}
              <p class="log-report fssmaller fcdarkgray dslightergray">{{ log }}</p>
              {% endfor %}
              {% endif %}
            </div>
            <script>
              const myBox = document.getElementById('logbox');
              myBox.scrollTop = myBox.scrollHeight;
            </script>
          </div>
          <div class="options isGrid dsblue bgwhite round">
              <h3 class="opt-text fsmed fcdarkgray dslightergray">Options</h3>
            {% for prof in player.team %}
                {% if not prof.fainted() %}
                    <form method="POST" action="/swap">
                        <input type="hidden" name="prof_name" value="{{ prof.name }}">
                        <button class="opt-button bdblack round bgwhite fssmaller fcdarkgray dslightergray" type="submit">
                            Swap to {{ prof.name }} (HP: {{ prof.hp }})
                        </button>
                    </form>
                {% endif %}
            {% endfor %}
            <form method="POST" action="/forfeit">
              <button class="opt-button bdblack round bgwhite fssmaller fcdarkgray dslightergray">Forfeit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <script>
      let isLeavingIntentionally = true;
      document.querySelectorAll("button").forEach(btn => {
        btn.addEventListener("click", () => {
          isLeavingIntentionally = false;
        });
      });

      window.addEventListener("beforeunload", function () {
        if (isLeavingIntentionally) {
          navigator.sendBeacon("/forfeit");
        }
      });
      </script>
    {% endblock %}
  </body>
</html>

