<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bgbluegrid">
{% extends 'include/layout.html' %}
{% block content %}
    <div class="big-box isGrid">
      <div class="body-split">
        <div class="left-split">
          <div class="battle-box round bgwhite">
            <div class="your-prof">
              <h2>Your Profemon</h2>
              <img class="image round" alt="Picture of ">
            </div>
            <div class="opp-prof">
              <h2>VS. Profemon</h2>
              <img class="image round" alt="Picture of ">
            </div>
          </div>
          <div class="your-moves bgwhite round">
            <h2>Your Moves</h2>
            <div class="move round">move 1</div>
            <div class="move round">move 2</div>
            <div class="move round">move 3</div>
          </div>
        </div>
        <div class="right-split">
          <div class="battle-log bgwhite round">
            Battle log
            <div class="log">
              log stuff
            </div>
          </div>
          <div class="options bgwhite round">
            options
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

