
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caretaking</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bggraygrid">
{% extends 'include/layout.html' %}
{% block content %}
    <div class="big-box isGrid">
      <div class="head bgyellowcheck round">
        <div class="info-box round">
          <div class="info-image">
            <img class="image round" src="" alt="Picture of ">
          </div>
          <div class="info-right">
            <h1>Profemon Name</h1>
            <div class="info-stats">
              stats
            </div>
            <div class="affection">
              <p>affection:</p>
              <div class="affection-meter round bglightblue">
              </div>
              <div class="care-buttons">
                <div class="pet-button round bgdarkblue">pet</div>
                <div class="feed-button round bgdarkblue">feed</div>
              </div>
            </div>
          </div>
        </div>
        <div class="stats bgwhite round">
          <p>ATK: </p>
          <p>DEF: </p>
          <p>HP: </p>
          <p>SPD: </p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

