
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caretaking</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/caught.png') }}">
    <link href="{{ url_for('static', filename='css/archie-style.css') }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bggraygrid">
{% extends 'include/layout.html' %}
{% block content %}
    <div class="big-box isGrid">

      {% for prof in team %}
          {% if prof != 0 %}
      <div class="head bgyellowcheck round bigger-padding dsdarkgray">
        <div class="info-box round body-split isGrid">
          <div class="info-image left-split dsred">
            <img class="image round" src="{{ url_for('static', filename=prof.img) }}" alt="Picture of {{ prof.name }}">
          </div>
          <div class="info-right right-split">
            <div class="middle-split">
              <div class="fsbigger dsred">{{ prof.name }}</div>
              <div class="type round center {{prof.type.lower()}}type folblack bddarkgray fcwhite fsmed dsred"> {{ prof.type }}</div>
            </div>
             <div class="affection fsmed dsred">
              HP:
              <div class="affection-meter round bglightblue">
              </div>
              <div class="Pet Button">
                <form method="POST" action="/pet">
                  <input type="hidden" name="prof_index" value="{{ loop.index0 }}">
                  <button type="submit" name="action" value="pet" class="pet-button round bgdarkblue center fcwhite dsred">Pet</button>
                </form>
                <div class="pet-button round bgdarkblue center fcwhite dsred">Pet</div>
                <div class="feed-button round bgdarkblue center fcwhite dsred">Feed</div>
              </div>
            </div>
            <div class="info-stats fslarge dsred">
              Stats
            </div>
            <div class="stats bgwhite round fsmed middle-split fclightgray dsred">
              <div class="left-split dslightergray">
                <p>HP: {{ prof.hp }} / {{prof.maxHP}}</p>
                <p>ATK: {{ prof.attack }} / {{prof.maxAttack }}</p>
              </div>
              <div class="right-split dslightergray">
                <p>DEF: {{ prof.defense }} / {{prof.maxDefense }}</p>
                <p>SPD: {{ prof.speed }} / {{prof.maxSpeed }}</p>
              </div>
            </div>
           
          </div>
            
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>

