{% extends 'include/catch.html' %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div class="big-box isGrid">
      <div class="head">
        <div class="info-box">
          <div class="info-image">
            <img src="" alt="Picture of ">
          </div>
          <div class="info-right">
            <h1>Profemon Name</h1>
            <div class="info-stats">
              stats
            </div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="left-split">
          <div class="catch-log">
            <p>log from catch</p>
          </div>
        </div>
        <div class="right-split">
          <div class="catch-options">
            <p>options</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
