
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bggraygrid">
  {% extends 'include/layout.html' %}
{% block content %}
    <div class="big-box isGrid">
      <div class="head">
        <div class="info-box bgyellowcheck round">
          <div class="info-image">
            <img class="image round" src="" alt="Picture of ">
          </div>
          <div class="info-right bgwhite round">
            <div id="prof">
              {% if show %}
                <h1>{{encounter.name}}</h1>
                <div class="info-stats">
                  HP: {{encounter.hp}}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div id="lookActions" {% if show %}style="display:none"{% endif %}>
          <form method="POST" action="/catch">
            <button name="look" value="look">Look Around</button>
          </form>
        </div>

        <div id="catchActions" {% if not show %}style="display:none"{% endif %}>
          <form method="POST" action="/minigame">
            <button name="click" value="click">Try to Catch</button>
            <button name="flee" value="flee">Flee</button>
          </form>
        </div>
      </div>
      <div>Time: <span id="time">10</span></div>
      <div>Clicks: <span id="counter">0</span></div>

      <div id="result"></div>
      <script>
        let lastResult = null;

        setInterval(async () => {
            const res = await fetch('/timer');
            const data = await res.json();

            document.getElementById("time").innerText = data.time;
            document.getElementById("counter").innerText = data.counter;

            const prof = document.getElementById("prof");
            const look = document.getElementById("lookActions");
            const catchA = document.getElementById("catchActions");

            prof.style.display = data.show ? "block" : "none";
            look.style.display = data.show ? "none" : "block";
            catchA.style.display = data.show ? "block" : "none";

            if (data.result && data.result !== lastResult) {
                lastResult = data.result;
                document.getElementById("result").innerText = data.result;
            }
        }, 500);
        </script>
      <div class="body">
        <div class="left-split">
          <div class="catch-log bgwhite round">
            <p>log from catch</p>
          </div>
        </div>
        <div class="right-split">
          <div class="catch-options bgwhite round">
            <p>options</p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

