
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caretaking</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bggraygrid">
{% extends 'include/layout.html' %}
{% block content %}
    <div class="big-box isGrid">
      <div class="head bgyellowcheck round">
        <div class="info-box round">
          <div class="info-image">
            <img src="{{ url_for('static', filename=data.img) }}" alt="Picture of {{ data.name }}" height="480">
          </div>
          <div class="info-right">
            <h1>{{ data.name }}</h1>
            <div class="info-stats">
              Stats
            </div>
          </div>
        </div>
        <div class="stats bgwhite round">
          <p>HP: {{ data.hp }}</p>
          <p>ATK: {{ data.attack }}</p>
          <p>DEF: {{ data.defense }}</p>
          <p>SPD: {{ data.speed }}</p>
        </div>
        <div class="info-right">
          <div class="info-stats">
            Moves
          </div>
        </div>
        <div class="stats bgwhite round">
          <p>Move 1: {{ data.move1.name }}</p>
          <p>Move 2: {{ data.move2.name }}</p>
          <p>Move 3: {{ data.move3.name }}</p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

