{% extends 'include/layout.html' %}
{% block content %}
  
  <body class="bggraygrid">
    <div class="big-box isGrid bggraygrid">
      <div class="head">
        <div class="title-box bgdarkblue round dsblue">
          <h1 class="fcwhite center dsdarkgray fstitle">Welcome to Profemon!</h1>
        </div>
      </div>
      <div class="body">
        <div class="bgdarkblue round dsblue center fsmed fcwhite">
          <p class="dsdarkgray">Click the catch tab to get started!</p>
        </div>
      </div>
    </div>
  </body>
{% endblock %}