{% extends 'include/index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div class="big-box isGrid">
      <div class="head">
        <div class="title-box">
          <h1>Welcome to Profemon</h1>
        </div>
      </div>
      <div class="body">
        <div class="body-box">
          <p>body</p>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}