
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Info</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/caught.png') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bgredcheck">
    {% extends 'include/layout.html' %}
{% block content %}
    <div class="big-box isGrid ">
      <div class="head bgdarkblue round dsdarkgray dsblue">
        <h1 class="title center fstitle fcwhite foldarkblue dsdarkgray">Profedex</h1>
      </div>
      <div class="body center">
        <p class="fslarge fcwhite foldarkblue dsblue">All Pages</p>
        <div class="image-bar isGrid">
          {% for prof in data %}
          <a class="dex-link" href="/prof?prof={{prof.name}}">
            <div class="image-box">
              <img class="image bddarkgray round dsblue" src="{{ url_for('static', filename=prof.img) }}" alt="Picture of {{ prof.name }}" height="360">
              <p class="fssmall fcwhite foldarkblue dsblue">{{ prof.name }}</p> 
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

