
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Info</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bgredcheck">
    {% extends 'include/layout.html' %}
{% block content %}
    <div class="big-box isGrid ">
      <div class="head">
        <h1 class="title center fstitle fcwhite foldarkblue dsblue">Profedex</h1>
      </div>
      <div class="body center">
        <p class="fslarge fcwhite foldarkblue dsblue">Popular Pages</p>
        <div class="image-bar isGrid">
          <a class="dex-link" href="">
            <div class="image-box">
              <img class="image bddarkgray round" src="{{ url_for('static', filename='assets/images/base/charlie.jpg') }}" alt="Picture of me">
              <p class="fssmall fcwhite foldarkblue dsblue">image 1 caption</p>
            </div>
          </a>
          <a class="dex-link" href="">
            <div class="image-box">
              <img class="image bddarkgray round" src="{{ url_for('static', filename='assets/images/base/charlie.jpg') }}" alt="Picture of me">
              <p class="fssmall  fcwhite foldarkblue dsblue">image 2 caption</p> 
            </div>
          </a>
          <a class="dex-link" href="">
          <div class="image-box">
            <img class="image bddarkgray round" src="{{ url_for('static', filename='assets/images/base/charlie.jpg') }}" alt="Picture of me">
            <p class="fssmall  fcwhite foldarkblue dsblue">image 3 caption</p> 
          </div>
          </a>
          <a class="dex-link" href="">
            <div class="image-box">
              <img class="image bddarkgray round" src="{{ url_for('static', filename='assets/images/base/charlie.jpg') }}" alt="Picture of me">
              <p class="fssmall fcwhite foldarkblue dsblue">image 4 caption</p> 
            </div>
          </a>
          <a class="dex-link" href="">
            <div class="image-box">
              <img class="image bddarkgray round" src="{{ url_for('static', filename='assets/images/base/charlie.jpg') }}" alt="Picture of me">
              <p class="fssmall fcwhite foldarkblue dsblue">image 4 caption</p> 
            </div>
          </a>
          <a class="dex-link" href="">
            <div class="image-box">
              <img class="image bddarkgray round" src="{{ url_for('static', filename='assets/images/base/charlie.jpg') }}" alt="Picture of me">
              <p class="fssmall fcwhite foldarkblue dsblue">image 4 caption</p> 
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

