
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Info</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bgredcheck">
    {% extends 'include/layout.html' %}
{% block content %}
    <div class="big-box isGrid ">
      <div class="head">
        <h1 class="title center fstitle fcwhite foldarkblue dsblue">Profedex</h1>
      </div>
      <div class="body center">
        <p class="fslarge fcwhite foldarkblue dsblue">Popular Pages</p>
        <div class="image-bar isGrid">
          <img class="image round" src="https://github.com/dadoge217/Profemon/blob/main/assets/images/base/charlie.jpg" alt="Picture of me"> 
          <img class="image round" src="https://github.com/dadoge217/Profemon/blob/main/assets/images/base/charlie.jpg" alt="Picture of me">
          <img class="image round" src="https://github.com/dadoge217/Profemon/blob/main/assets/images/base/charlie.jpg" alt="Picture of me"> 
          <img class="image round" src="/assets/images/base/charlie.jpg" alt="Picture of me"> 
          <img class="image round" src="https://github.com/dadoge217/Profemon/blob/main/assets/images/base/charlie.jpg" alt="Picture of me">
          <img class="image round" src="{{ url_for('static', filename='assets/images/base/charlie.jpg') }}"  alt="Picture of me"> 
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

