
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal stats</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/caught.png') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body class="bgyellowcheck">
    {% extends 'include/layout.html' %}
{% block content %}
     <div class="big-box isGrid dsred">
      <div class="head bglightgray round moves-box">
        <div class="title-box">
          <h1 class="dsdarkgray fcwhite fsmed center">Recent Battles</h1>
        </div>
        {% for battleLog in personalStats.battleLogs %}
        <div class="vs bgdarkgray round">
            <p class="round-info dsblue fcwhite center fslarge">{{ battleLog }}</p>
          </div>
         
        {% endfor %}

        
        
      </div>
      <div class="body">
        <div class="moves-box bglightgray round dsred fcwhite center">
          <h1 class="fsmed fcwhite dsdarkgray center">Player stats</h1>

          <form>
            <button class="small-button round bgdarkblue dsdarkgray fsmed fcwhite"> Set Player Name</button>
            <input class="small-button round bglightblue dsdarkgray fcwhite fsmed center" type="text" name="playerName" value="">
          </form>
            
          <p class="log-report fssmall  dsdarkgray ">Profemon Caught: {{count}}</p>
          <p class="log-report fssmall  dsdarkgray ">Profemon Fainted: {{personalStats.faints}}</p>
          <p class="log-report fssmall  dsdarkgray ">Battles Won: {{personalStats.wins}}</p>
          <p class="log-report fssmall  dsdarkgray ">Battles Lost: {{personalStats.losses}}</p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

