
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Builder</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    {% extends 'include/layout.html' %}
{% block content %}
    <div class="big-box isGrid">
      <div class="body-split">
        <div class="left-split">
          <div class="title-box">
            Team
          </div>
        </div>
        <div class="right-split">
          <div class="title-box">
            Caught Profemon
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

